<!-- # if you use `@angular/common/http`
  npm install @ngx-loading-bar/core @ngx-loading-bar/http-client --save -->

  <!-- import in module.ts
  import { LoadingBarHttpClientModule } from '@ngx-loading-bar/http-client'; -->

  <!--import it in required page  -->
<ngx-loading-bar [color]="'#000000'" [includeSpinner]="false"></ngx-loading-bar>



<div class="head sticky-top">
  
    <h2>NEWS WORLD</h2>
  
  <h5 class="">The Complete News Zone</h5>
</div>


<nav class="navbar navbar-expand-lg bg-light sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="bussiness">Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sports">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="health">Health</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="entertainment">Entertainment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="technology">Technology</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br><br>
<router-outlet></router-outlet>
<br>
<footer class="mt-5 mb-5">
  <p style="text-align: center;">&copy; 2022 News World by Mohammed Jasir</p>
</footer>